body {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 13px;
  padding: 1em;
  box-sizing: border-box;
}

.main-title {
  position: fixed;
  margin: 0;
  padding: 0;
  color: #b1b1b1;
  text-align: center;
  top: 5%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.main-title .thick {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

#mainContainer {
  margin-left: 0%;
  margin-right: 0;
}

#toolsPanel {
  z-index: 999;
  bottom: 1em;
  left: 7%;
  margin-top: -40px;
}

canvas {
  width: 100%;
  height: 500px;
  border: 5px solid rgb(216, 216, 216);
}

#photogrid {
  --gap: 2px;
  --num-cols: 4;
  --row-height: 200px;
  --col-width: 200px;

  width: 800px;
  margin: auto;

  bottom: 1em;
  left: 10%;
  clear: both;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  grid-auto-columns: var(--col-width);
  gap: var(--gap);
}

#photogrid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#heroUnitContainer {
  grid-row: span 2;
  grid-column: span 2;
}

#photoHeroUnit {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

@keyframes animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#photoHeroLoaderUnit {
  width: 75%;
  height: 75%;;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 3.6s linear infinite;
}

#photoHeroLoaderUnit span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

#photoHeroLoaderUnit span:nth-child(1) {
  filter: blur(5px);
}

#photoHeroLoaderUnit span:nth-child(2) {
  filter: blur(10px);
}

#photoHeroLoaderUnit span:nth-child(3) {
  filter: blur(25px);
}

#photoHeroLoaderUnit span:nth-child(4) {
  filter: blur(50px);
}

#photoHeroLoaderUnit:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border: solid white 10px;
  border-radius: 50%;
}

/* Anything under 1024px */
@media screen and (max-width: 768px) {
	#photogrid {
		--num-cols: 3;
    width: 600px;
	}

  #photogrid > img {
    object-fit: contain;
  }
}
